{block heading}
    <h2 n:define="title">Cvičení</h2>
    {include title}
{/block}

{block actions}
    <a href="add" class="btn btn-primary ajax"><i class="fa fa-plus-circle"></i> Přidat cvičení</a>
{/block}

{block content}
    {control grid}
{/block}
