sentry:
	title: "It looks like we're having some internal issues."
	subtitle: "Our team has been notified. If you'd like to help, tell us what happened below."
	subtitle2: "If you’d like to help, tell us what happened below."
	labelName: 'Name'
	labelEmail: 'Email'
	labelComments: 'What happened?'
	labelClose: 'Close'
	labelSubmit: 'Submit'
	errorGeneric: 'An unknown error occurred while submitting your report. Please try again.'
	errorFormEntry: 'Some fields were invalid. Please correct the errors and try again.'
	successMessage: 'Your feedback has been sent. Thank you!'
