ublaboo_datagrid:
	items: 'Položky'
	from: 'z'
	previous: 'předchozí'
	next: 'další'
	reset_filter: 'Restartovat filtr'
	all: 'Vše'
	action: 'Akce'
	show_filter: 'Zobrazit filter'
	filter_submit_button: 'Vyhledat'
	no_item_found: 'Žádné záznamy'
	hide_column: 'Skrýt sloupec'
	show_all_columns: 'Zobrazit všechny sloupce'
	show_default_columns: 'Zobrazit původní sloupce'
	per_page_submit: 'Změnit počet položek na stránku'
