{layout './../@layout.latte'}

{block #content}
    <h2>Registrace na webu DA WEB ČB</h2>
    <p>Děkujeme za provedení registrace.</p>
    <p>Jakmile bude tvá registrace schválena, budeme tě informovat emailem. Poté se můžeš <a n:href="Homepage:default">přihlásit</a>.</p>
{/block}
