<div class="modal-header">
	<h4 class="modal-title">{_admin.modal.headline}</h4>
	{control close}
</div>
<div class="modal-body">

	<div class="panel-body no-padding">
		<div n:foreach="$messages as $message" class="alert alert-danger">{_admin.modal.confirm.$message}</div>
		<div n:if="$extraHtml">{$extraHtml}</div>
	</div>
</div>
<div class="modal-footer">
	{form confirm}
			{input dismiss, class => 'btn btn-default'}
			{input confirm, class => 'btn btn-danger'}
	{/form}
</div>
